%section.worldMap
  %header#sectionHeader
    %hgroup
      %h1
        %span 
          Les
        Questions
  %nav#secondaryNav
    %div#secondaryNavContainer
      %ul
        %li
          = link_to "Retour aux questions", questions_path, :class => "navButton"
  .theContent
    = simple_form_for @question, :html => { :class => "questionForm" } do |form|
      %fieldset
        %legend Editez votre question
        = render 'form', :f => form
        = render 'markdown/markdown'
