#stationNav.secondaryNav
.contentBackground
  = simple_form_for @question, :html => { :class => "center960", :id => "questionAddForm" } do |form|
    %fieldset
      %legend Editez votre question
      = link_to "<span>&nbsp;</span>Retour aux questions".html_safe, questions_path, :class => "buttonSmall backButton"
      = render 'form', :f => form
      = render 'markdown/markdown'
