- set_meta_tags title: 'Posez votre question'
%section.worldMap
  %header#sectionHeader
    %hgroup
      %h1
        %span 
          Les
        Questions
  %nav#secondaryNav
    %div#secondaryNavContainer
      %ul
        %li
          = link_to "Retour aux questions", questions_path, class: "navButton back"
  .theContent
    = simple_form_for @question, url: questions_path, html: { class: "questionForm", method: :post } do |form|
      %fieldset
        %legend Posez votre question
        = render 'form', f: form
        = render 'markdown/markdown'
