- set_meta_tags title: "Poster votre annonce/offre d'emploi sur Railsfrance.org"
%section.worldMap
  %header#sectionHeader
    %hgroup.jobsHeader
      %h1
        %span Les
        JOBS
  %nav#secondaryNav
    %div#secondaryNavContainer
      %ul
        %li
          = link_to "Retour aux annonces", jobs_path, class: "navButton back"
  .theContent
    = render 'form'
    = render 'markdown/markdown'
