#flash {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  z-index: 500;
  font-family: SteelfishRegular, Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  font-size:2em;
  color:#dec8a3;
  text-shadow: 1px 1px 2px #000000;
  -webkit-box-shadow: 0px 3px 5px 0px #000;
  -moz-box-shadow: 0px 3px 5px 0px #000;
  box-shadow: 0px 3px 5px 0px #000;
  div{
    padding:10px 0 10px 0;
  }
  img{
    vertical-align:middle;
    margin-right:20px;
  }
}
.flashNotice{
  background: -moz-linear-gradient(top, #3a7612 0%, #4ea516 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a7612), color-stop(100%,#4ea516));
  background: -webkit-linear-gradient(top, #3a7612 0%,#4ea516 100%);
  background: -o-linear-gradient(top, #3a7612 0%,#4ea516 100%);
  background: -ms-linear-gradient(top, #3a7612 0%,#4ea516 100%);
  background: linear-gradient(top, #3a7612 0%,#4ea516 100%);
}
.flashError{
  background: -moz-linear-gradient(top, #821415 0%, #901416 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#821415), color-stop(100%,#901416));
  background: -webkit-linear-gradient(top, #821415 0%,#901416 100%);
  background: -o-linear-gradient(top, #821415 0%,#901416 100%);
  background: -ms-linear-gradient(top, #821415 0%,#901416 100%);
  background: linear-gradient(top, #821415 0%,#901416 100%);
}
.flashAlert{
  background: -moz-linear-gradient(top, #355c61 0%, #64b1bb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#355c61), color-stop(100%,#64b1bb));
  background: -webkit-linear-gradient(top, #355c61 0%,#64b1bb 100%);
  background: -o-linear-gradient(top, #355c61 0%,#64b1bb 100%);
  background: -ms-linear-gradient(top, #355c61 0%,#64b1bb 100%);
  background: linear-gradient(top, #355c61 0%,#64b1bb 100%);
}