%li
  %a{:href => user_path(user)}
    = image_tag user.gravatar_url(:size => 40)
    .userInformations
      .UserName
        = user.username
      .UserCreation
        Inscription :
        = l(user.created_at, :format => :tiny)
      .UserCity
        Ville :
        = user.city
    
 