- set_meta_tags title: "Les développeurs Ruby On Rails français"
%section.worldMap
  %header#sectionHeader
    %hgroup.userHeader
      %h1
        %span 
          LES
        COW BOYS
  %nav#secondaryNav
    %div#secondaryNavContainer
      %h2
        Nombre de membres inscrits :
      %div#userNumber
        = @presenter.members_count
  .theContent
    %ul.userList.theContentList
      = render @users
    .pagination
      = paginate @users
