- set_meta_tags :title => "Les développeurs Ruby On Rails français"
%section.worldMap
  %header#sectionHeader
    %hgroup
      %h1
        %span 
          LES
        COW BOYS
  %nav#secondaryNav
    %div#secondaryNavContainer
  .theContent
    %ul.userList.theContentList
      = render @users
