%section#connection.fullwidth
  %hgroup.fullwidth
    %h1
      %span#arabesqueLeft &nbsp;
      %span MOT
      DE PASSE OUBLIE
      %span#arabesqueRight &nbsp;
  %nav#connectionNav.fullwidth
    = render :partial => "devise/shared/links"
%aside#connectionAside.fullwidth
  = simple_form_for(resource, :url => password_path(resource), :html => { :id=>'newPasswordForm' }) do |f|
    %fieldset
      %legend Mot de passe oublié ?
      = f.input :email, :autofocus => "autofocus"
      = f.button :submit, "Envoyer"
