%section#connection.sectionTitle
  %hgroup
    %h1
      %span#arabesqueLeft &nbsp;
      %span MOT
      DE PASSE OUBLIE
      %span#arabesqueRight &nbsp;
%nav#connectionNav.secondaryNav
  = render :partial => "devise/shared/links"
.contentBackground
  = simple_form_for(resource, :url => password_path(resource), :html => { :id=>'newPasswordForm' }) do |f|
    %fieldset
      %legend Mot de passe oublié ?
      = f.input :email, :autofocus => "autofocus"
      = f.button :submit, "Envoyer"
