#eventNav.fullwidth
#stationEventForm.fullwidth
  = simple_form_for @event, :html => { :class => "center960", :id => "eventAddForm" } do |form|
    %fieldset
      %legend Editez votre événement
      = link_to "<span>&nbsp;</span>Retour aux événements".html_safe, events_path, :class => "buttonSmall", :id => "backToEvents"
      = render 'form', :f => form
