- set_meta_tags :title => "Postez votre événement!"
%section.worldMap
  %header#sectionHeader
    %hgroup
      %h1
        %span 
          LES
        ÉVÉNEMENTS
  %nav#secondaryNav
    %div#secondaryNavContainer
      %ul
        %li
          = link_to "Retour aux événements", events_path, :class => "navButton"
  .theContent
    = simple_form_for @event , :url => events_path, :html => { :class => "eventForm", :method => :post } do |form|
      %fieldset
        %legend Créer votre événement
        = render 'form', :f => form
        = render 'markdown/markdown'
