- set_meta_tags :title => "Postez votre événement!"
#eventNav.fullwidth
#stationEventForm.fullwidth
  = simple_form_for @event , :url => events_path, :html => { :class => "center960", :id => "eventAddForm", :method => :post } do |form|
    %fieldset
      %legend Créer votre événement
      = link_to "<span>&nbsp;</span>Retour aux événements".html_safe, events_path, :class => "buttonSmall", :id => "backToEvents"
      = render 'form', :f => form
      = render 'markdown/markdown'
