- feed("RailsFrance » News", news_index_url(:atom))
.secondaryNav
.contentBackground
  %aside
    = link_to image_tag("rss.png", :width => 26, :height => 26), news_index_url(:atom), "data-skip-pjax" => true, :class => "buttonCurved"
  = render @news
  #pagination.center960
    = paginate @news
