%nav#stationNav.fullwidth
  #sort
    %h2 Trier par
    = link_to "Occurences", "#count", { :id => "tagCount", "data-skip-pjax" => "true" }
    = link_to "Nom", "#name", { :id => "tagName", "data-skip-pjax" => "true" }
#QuestionsTagsContainer.fullwidth
  #Questionstags.center960
    = colorize_tags @tags
