%section.worldMap
  %header#sectionHeader
    %hgroup
      %h1
        %span 
          Les
        Questions
  %nav#secondaryNav
    %div#secondaryNavContainer
      %h2
        Trier par
      %ul
        %li.shadow
          = link_to "Occurences", "#count", { :id => "tagCount", :class => "sort" }
        %li.shadow
          = link_to "Nom", "#name", { :id => "tagName", :class => "sort" }
  .theContent
    #Questionstags
      = colorize_tags @tags
