%section#header404.fullwidth
  %hgroup.fullwidth
    %h1
      %span#arabesqueLeft &nbsp;
      %span ERREUR
      404
      %span#arabesqueRight &nbsp;
    %p LA PAGE DEMANDÉE N'EXISTE PAS
#nav404.fullwidth
#content404.fullwidth
  #background404.fullwidth
    #chuckNorris
      :preserve
        SUR CETTE PAGE...
        YA UN MEC DE TROP
        ...ET C'EST PAS MOI
