%section.worldMap
  %header#sectionHeader
    %hgroup.error404Header
      %h1
        %span 
          ERREUR
        404
      %p LA PAGE DEMANDÉE N'EXISTE PAS
  %nav#secondaryNav
    %div#secondaryNavContainer
  .theContent.content404
    .background404
      .chuckNorris
        :preserve
          SUR CETTE PAGE...
          YA UN MEC DE TROP
          ...ET C'EST PAS MOI
