- set_meta_tags :title => "Toutes les ressources disponibles sur Railsfrance"
%section.worldMap
  %header#sectionHeader
    %hgroup
      %h1
        %span 
          Les
        RESSOURCES
  %nav#secondaryNav
    %div#secondaryNavContainer
      %ul
        %li
          =link_to "Découvrir", "#discover", :class => "navLink"
        %li.shadow
          =link_to "Télécharger", "#download", :class => "navLink"
        %li.shadow
          =link_to "Apprendre", "#learn", :class => "navLink"
        %li.shadow
          =link_to "Communauté", "#community", :class => "navLink"
  .theContent
    #discover
      %aside
        %h2
          Decouvrir
      %ul.resourcesList
        %li
          %article
            %h1
              titre-1
            %h2
              titre-2
            %h3
              titre-3
            %h4
              titre-4
            %h5
              titre-5
            %h6
              titre-6
            %p
              paragraphe de texte
            %ul
              %li
                liste1
              %li
                liste2
            %ol
              %li
                list-1
              %li
                list-2
            =link_to "google", "http://www.google.fr", :target => "_bank","data-skip-pjax" => "true"
        %li
          %article
            artile
    #download
      %aside
        %h2
          Telecharger
      %ul.resourcesList
        %li
          %article
            article
        %li
          %article
            artile
    #learn
      %aside
        %h2
          Apprendre
      %ul.resourcesList
        %li
          %article
            article
        %li
          %article
            artile
    #community
      %aside
        %h2
          Communaute
      %ul.resourcesList
        %li
          %article
            article
        %li
          %article
            artile
      