app:
  secret_token: ""
  cookie_key: ""
devise:
  pepper: ""
mailer:
  host: "0.0.0.0:3000"
  from: ""
aws_ses:
  access_key_id: ''
  secret_access_key: ''
redis:
  host: "localhost"
  port: 6379 
  password:
  db: 1
  expire_view: 86400
  expire_tweet: 3600
twitter:
  account: ''
  consumer_key: ''
  consumer_secret: ''
  oauth_token: ''
  oauth_token_secret: ''
recaptcha:
  public_key: ""
  private_key: ""
api:
  meetup:
    key: ""
