app:
  secret_token: ""
  cookie_key: ""
devise:
  pepper: ""
mailer:
  host: "0.0.0.0:3000"
  from: ""
redis:
  host: "localhost"
  port: 6379 
  password: ""
  db: 1
  expire_view: 86400
  expire_tweet: 3600
recaptcha:
  public_key: ""
  private_key: ""
adapter:
  meetup:
    key: ""
    paris:
      name: "parisrb"
