/* =============================================================================
   IMPORT GLOBAL VAR
   ========================================================================== */
@import "variables";

/* =============================================================================
   THE CONTENT: FORMS
   ========================================================================== */
.woodForm{
  background:image-url('section-header.jpg');
  margin:-19px auto 0 auto;
  padding:20px;
  -moz-border-radius:0 0 10px 10px;
  -webkit-border-radius:0 0 10px 10px;
  border-radius: 0 0 10px 10px; 
  legend{
    display:none;
  }
  label{
    color:$white;
    text-transform:uppercase;
    text-shadow: 5px 3px 5px $black;
  }
  input[type=submit]{
    color:$white;
  }
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    -webkit-box-shadow: 0 0 5px $white;
    -moz-box-shadow: 0 0 5 $white;
    box-shadow: 0 0 5px $white;
  }
}

.smallForm{
  width:300px;
  input[type=text], input[type=password], input[type=email]{
    width:290px;
  }
  input[type=submit]{
    width:300px;
    margin-top:10px;
  }
  .error{
    left:260px;
  }
}

.normalForm{
  width:600px;
  input[type=text], input[type=password], input[type=email]{
    width:280px;
  }
  input[type=submit]{
    width:290px;
    margin-top:10px;
  }
  .error{
    left:250px;
  }
}

/* =============================================================================
   THE CONTENT: NEW USER
   ========================================================================== */
#new_user{
  label{
    display:inline-block;
  }
  input[type=checkbox]{
    display:inline;
  }
}

#newUserLeft{
  display:inline-block;
  width:290px;
}

#newUserRight{
  @extend #newUserLeft;
  margin-left:10px;
}
