#connection {
  hgroup {
    background: image-url('connection/keys.png') center bottom no-repeat;
  }
}

#connectionNav{
  a{
    width:178px;
    height:37px;
  }
}  

#connectionForm, #newUserForm, #newPasswordForm, #myAccount, #newUserPaswword{
  width:346px;
  padding:30px 33px;
  margin:-20px auto 0 auto;
  background: #e7d8c3 image-url('slider/slider-background.jpg');
  -moz-border-radius:0 0 10px 10px; 
  -webkit-border-radius:0 0 10px 10px; 
  border-radius: 0 0 10px 10px; 
  box-shadow:0 2px 7px #333333;
  legend{
    display:none;
  }
  label{
    color:#fff;
    text-transform:uppercase;
    text-shadow: 5px 3px 5px #000000;
  }
  input[type=text], input[type=password], input[type=email]{
    width:332px;
  }
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
  }
  input[type=submit]{
    width:358px;
    margin-top:25px;
  }
  input[type=checkbox]{
    float:left;
    margin:-1px 10px 0 0;
  }
  .field_with_errors .error{
    left:300px;
  }
}
    
#newUserForm, #myAccount{
  width:734px;
}

#newUserLeft, #newUserRight{
  width:346px;
}
#newUserRight{
  margin-left:20px;
}