#contact{
  hgroup {
    background: image-url('contact/contact.png') center bottom no-repeat;
  }
}

#theContact {
  font-family: OswaldRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
  input[type=text],input[type=email]{
    width:435px;
  }
}