#contact{
  background: image-url('slider/slider-background.jpg') repeat-x;
  h1 {
    position:relative;
    text-align: center;
    font-family: SteelfishRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #e7d8c3;
    text-shadow: 0 2px 5px #000; 
    padding-top:10px;}
  hgroup {
    height: 150px; 
    background: image-url('contact/contact.png') center bottom no-repeat;}
  h1 span {
    color: #66b5be; }
}

#contactNav {
  text-align:center;
  height: 88px;
  background: image-url('station/background-separation.jpg') repeat-x;
}

#theContact {
  font-family: OswaldRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: image-url('station/background-world-map.png')  center top no-repeat;
  padding: 20px 0 30px 0;
  input[type=text],input[type=email]{
    width:435px;
  }
}

