/* =============================================================================
   IMPORT GLOBAL VAR
   ========================================================================== */
@import "variables";
/* =============================================================================
   THE CONTENT: EVENT LISTING
   ========================================================================== */
#eventNumber{
    font-family: $font-steel;
    font-size:2.3em;
    color: #DDC8A2;
    text-shadow: 0 2px 5px $black;
    margin:0 10px;
    display:inline-block;
    vertical-align:top;
    position:relative;
    top:5px;
}

.eventList{
  aside{
    font-family:$font-oswald;
    font-size:1.2em;
    color:$white;
    text-align:center;
    vertical-align:top;
    background: image-url('panels-sprite.png') top left no-repeat;
    display:inline-block;
    padding-top:18px;
    width:50px;
    height:49px;
    &.red{
      background-position:-50px 0;
    }
    &.blue{
      background-position:-100px 0;
    }
  }
  article{
    display:inline-block;
    width:880px;
    margin-left:20px;
    overflow:hidden;
  }
  .eventDescription{
    margin-bottom:20px;
  }
  .eventInformations{
    font-family:$font-oswald;
    background:$white;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 $black inset;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-align: left;
    div{
      display:inline-block;
      vertical-align:top;
      padding-right:20px;
    }
    span{
      color:$blue;
    }
  }
}
/* =============================================================================
   THE CONTENT: EVENT SHOW
   ========================================================================== */
#theEvent{
  hgroup h1{
    font-family: $font-steel;
    color:$darkRed;
    text-transform:uppercase;
    font-size:2em;
    margin-top:0;
  }
}

#theEventInformation{
  font-family:$font-oswald;
  font-size:1.3em;
  span{
    color:$blue;
  }
}

#theEventAddress{
  border-bottom: 1px dashed #857C6F;
  padding-bottom:10px;
  a{
    color:$red;
  }
}

#theEventDate{
  display:inline-block;
  padding:10px 50px 0 0;
}

#theEventHour{
  @extend #theEventDate;
}

#theEventDescription{
  font-family:$font-times;
}


/* =============================================================================
   THE CONTENT: EVENT FORM
   ========================================================================== */
#eventFormLeft{
  display:inline-block;
  width:450px;
}

#eventFormRight
{
  @extend #eventFormLeft;
  margin-left:55px;
}
