/* =============================================================================
   IMPORT GLOBAL VAR
   ========================================================================== */
@import "variables";
/* =============================================================================
   THE CONTENT: JOB LISTING
   ========================================================================== */
.jobList{
  aside{
    vertical-align:top;
    display:inline-block;
    text-align:center;
    font-family:$font-oswald;
    font-size:1.1em;
    color:$white;
    background:image-url('panels-sprite.png') -100px top no-repeat;
    padding-top:20px;
    width:50px;
    height:47px;
  }
  article{
    position:relative;
    display:inline-block;
    overflow:hidden;
    width:890px;
    padding-left:10px;
    text-align:justify;
    img{
      float:right;
    }
  }
  .jobDescription{
    font-family:$font-times;
  }
}
/* =============================================================================
   THE CONTENT: JOB SHOW
   ========================================================================== */
#theJob{
  overflow:hidden;
  img{
    margin-top:10px;
    float:right;
  }
  hgroup{
    display:inline-block;
    h1{
      font-family: $font-steel;
      color:$darkRed;
      text-transform:uppercase;
      font-size:2em;
      margin-top:20px;
      padding-left:10px;
      display:inline-block;
    }
  }
}

#theJobDate{
  vertical-align:top;
  display:inline-block;
  text-align:center;
  font-family:$font-oswald;
  font-size:1.1em;
  color:$white;
  background:image-url('panels-sprite.png') -100px top no-repeat;
  padding-top:20px;
  width:50px;
  height:47px;
}

#theJobInformations{
  font-family:$font-oswald;
  font-size:1.2em;
  border-bottom: 1px dashed #857C6F;
  padding-bottom:10px;
  div{
    display:inline-block;
    text-align:left;
    width:33%;
  }
  span{
    color:$blue;
  }
  a{
    color:$blue;
    -webkit-transition: color 0.8s ease 0;
    -moz-transition: color 0.8s ease 0;
    -o-transition: color 0.8s ease 0;
    -ms-transition: color 0.8s ease 0;
    transition: color 0.8s ease 0;
    &:hover{
      color:$red;
    }
  }
}

#theJobDescription{
  font-family:$font-times;
  text-align:justify;
}

#theJobApply{
  display:table;
  background:$blue;
  padding:10px 20px;
  border-radius:5px;
  a{
    color:$red;
    &:hover{
      text-decoration:underline;
    }
  }
}
/* =============================================================================
   THE CONTENT: JOB FORM
   ========================================================================== */
#jobFormLeft{
  display:inline-block;
  width:450px;
}

#jobFormRight{
  @extend #jobFormLeft;
  margin-left:55px;
}