/* =============================================================================
   IMPORT GLOBAL VAR
   ========================================================================== */
@import "variables";
/* =============================================================================
   THE CONTENT: JOB LISTING
   ========================================================================== */
.jobList{
  aside{
    vertical-align:top;
    display:inline-block;
    text-align:center;
    font-family:$font-oswald;
    font-size:1.1em;
    color:$white;
    background:image-url('panels-sprite.png') -100px top no-repeat;
    padding-top:20px;
    width:50px;
    height:47px;
  }
  article{
    position:relative;
    display:inline-block;
    overflow:hidden;
    width:890px;
    padding-left:10px;
    text-align:justify;
    img{
      float:right;
    }
  }
  .jobDescription{
    font-family:$font-times;
  }
}
/* =============================================================================
   THE CONTENT: JOB SHOW
   ========================================================================== */
#theJob{
  overflow:hidden;
  img{
    margin-top:10px;
    float:right;
  }
  hgroup{
    display:inline-block;
    h1{
      font-family: $font-steel;
      color:$darkRed;
      text-transform:uppercase;
      font-size:2em;
      margin-top:20px;
      padding-left:10px;
      display:inline-block;
    }
  }
}

#theJobDate{
  vertical-align:top;
  display:inline-block;
  text-align:center;
  font-family:$font-oswald;
  font-size:1.1em;
  color:$white;
  background:image-url('panels-sprite.png') -100px top no-repeat;
  padding-top:20px;
  width:50px;
  height:47px;
}

#theJobInformations{
  font-family:$font-oswald;
  font-size:1.2em;
  border-bottom: 1px dashed #857C6F;
  padding-bottom:10px;
  div{
    display:inline-block;
    text-align:left;
    width:33%;
  }
  span{
    color:$blue;
  }
  a{
    color:$blue;
    -webkit-transition: color 0.8s ease 0;
    -moz-transition: color 0.8s ease 0;
    -o-transition: color 0.8s ease 0;
    -ms-transition: color 0.8s ease 0;
    transition: color 0.8s ease 0;
    &:hover{
      color:$red;
    }
  }
}

#theJobDescription{
  font-family:$font-times;
  text-align:justify;
}

#theJobApply{
    font-family:$font-times;
  position:relative;
  display:inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:$white;
  background: #519da3;
  background: -moz-linear-gradient(top,  #519da3 0%, #105150 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#519da3), color-stop(100%,#105150));
  background: -webkit-linear-gradient(top,  #519da3 0%,#105150 100%);
  background: -o-linear-gradient(top,  #519da3 0%,#105150 100%);
  background: -ms-linear-gradient(top,  #519da3 0%,#105150 100%);
  background: linear-gradient(top,  #519da3 0%,#105150 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px #28474d;
  -moz-box-shadow: inset 0px 2px 2px 0px #28474d;
  box-shadow: inset 0px 2px 2px 0px #28474d; 
  p{
    margin:0 0 0 50px;
    padding:5px 10px 5px 0;
  }
  p:first-child{
    border-bottom:2px solid #266264;
    font-weight:bold;
    font-style:italic;
  }
  a{
    color:#b6faff;
    &:hover{
      color:$white;
      text-decoration:underline;
    }
  }
  &:before{
    content:"";
    width:22px;
    height:23px;
    display:block;
    position:absolute;
    top:50%;
    left:10px;
    margin-top:-10px;
    background:image-url('jobs/apply-for-this-job.png') no-repeat;
  }
}
/* =============================================================================
   THE CONTENT: JOB FORM
   ========================================================================== */
#jobFormLeft{
  display:inline-block;
  width:450px;
}

#jobFormRight{
  @extend #jobFormLeft;
  margin-left:55px;
}