#job {
  hgroup {
    background: image-url('jobs/jobs.png') center bottom no-repeat;
  }
}

/*--- JOBS SORT NAV ---*/
#jobsNav{
  div{
    padding-left:0;
  }
  .input{
    display:inline-block;
    background:none;
    height:inherit;
    margin:0;
    padding:0;
  }
  form{
    display:inline-block;
  }
  label{
    position:relative;
    top:-2px;
    font-family: SteelfishRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:2.2em;
    line-height:40px;
    color:#ddc8a2;
    text-transform:uppercase;
    display:inline-block;
    position:relative;
    margin:0 15px;
    text-shadow: #000 5px 3px 5px;
  }
}

/*--- JOB LISTING ---*/
.job{
  .jobSummary{
    float:right;
    width:869px;
    padding-left:20px;
    background: image-url('jobs/separator-date.png') left top no-repeat;
    min-height:143px;
    h3:first-child{
      margin-bottom:10px;
      font-size:1.9em;
    }
    img{
      float:right;
      margin:0 0 5px 20px;
    }
    a{
        color: #400404;
        -moz-transition: color 0.8s ease;
        -webkit-transition: color 0.8s ease;
        -o-transition: color 0.8s ease;
        transition: color 0.8s ease;
      &:hover{
        text-decoration:none;
        color:#a51515;
      }
    } 
  }
  .jobDescription{
      font-family: Times, "Times New Roman", "Liberation Serif", FreeSerif, serif;
      font-size: 0.9em;
      line-height: 1.3em;
      color:#202020;
      margin-bottom:15px;
  }
  .jobInformations{
    font-family: OswaldRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
    clear:both;
    background:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 4px 0px #000;
    -moz-box-shadow: inset 1px 1px 4px 0px #000;
    box-shadow: inset 1px 1px 4px 0px #000; 
    line-height:40px;
    height:40px;
    padding: 0 15px;
    margin:0 0 10px 0;
    div{
     display:inline-block;
     overflow:hidden;
     width:275px;
     background: image-url('jobs/separator.png') right center no-repeat;
     &:last-child{
      background:none;}}
    span, a {
      color:#66b5be;
    }
    img{
      vertical-align:middle;
      border:2px solid #8B0B0B;
    }
  }
  .jobCreationDate{
    background: image-url('panneau.png') top right no-repeat;
    width:61px;
    height:62px;
    color:#fff;
    text-align:center;
    float:right;
    margin:0 10px 0 0;
    padding-top:20px;
  }
}

/*--- ADD JOB ---*/
#jobAddForm {
  border-bottom:none;
  input[type=text], input[type=url], input[type=email]{
    width:435px;
  }
  input[type=submit]{
    clear:left;
    margin-top:20px;
  }
  input[type=checkbox]{
    display:inline-block;
    height:inherit;
    margin:0 20px 0px 10px;
  }
}

#newJobLeft, #newJobRight{
  width:460px;
}

#newJobType div, #newJobType label{
  float:left;
}

#newJobRight{
 margin-left:30px;
}
  
/*--- JOB DETAILS ---*/
#theJob{
  h3{
    font-size:2em;
    color: #400404;
    width:760px;
    line-height:82px;
   }
  .jobInformations{
    font-family: OswaldRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
    clear:both;
    background:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 4px 0px #000;
    -moz-box-shadow: inset 1px 1px 4px 0px #000;
    box-shadow: inset 1px 1px 4px 0px #000; 
    line-height:40px;
    height:40px;
    padding: 0 15px;
    margin:0 0 10px 0;
    div{
     display:inline-block;
     overflow:hidden;
     width:275px;
     background: image-url('jobs/separator.png') right center no-repeat;
     &:last-child{
      background:none;}}
    span, a {
      color:#66b5be;
    }
  }
}

#theJobDate{
  font-family: OswaldRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: image-url('panneau.png') top right no-repeat;
  width:61px;
  height:62px;
  color:#fff;
  text-align:center;
  float:left;
  margin:0 20px 10px 0;
  padding-top:20px;
}

#theJobDescription{
  text-align:justify;
}

#theJobConfirm{
  clear:both;
  margin:0 auto;
  width:100px;
}