#theMap{
  width:891px;
  height:663px;
  padding-top:31px;
  background:image-url('map/map_background.png') no-repeat;
  margin:0 auto;
}

#map_canvas{
  width:846px;
  height:643px;
  margin:0 auto;
  h1{
    font-size:2em;
    padding:0;
    text-align:left;
    text-shadow:none;
    color:#000;
  }
  a{
    color:#851514;
  }
}