#resources {
  hgroup {
    background: image-url('resources/resources.png') center bottom no-repeat;
  }
}

#resourcesNav {
  img{
    position:relative;
    top:5px;
    vertical-align:top;
  }
}

#workersTab, #guidesTab{
  background: image-url('resources/here.png') 20px 10px no-repeat;
  h2{
    font-size:1.9em;
    color:#202020;
    text-transform:uppercase;
    text-shadow: 0px 2px 1px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=2);
    height:97px;
    line-height:97px;
    padding-left:170px;
    span{
      color:#851514;
    }
  }
}

#workersTabContent,#guidesTabContent{
  background:#fff;
  padding:10px 20px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow: inset 1px 1px 3px 0px #7b7b7b;
  -moz-box-shadow: inset 1px 1px 3px 0px #7b7b7b;
  box-shadow: inset 1px 1px 3px 0px #7b7b7b;
  article{
    position:relative;
    padding:15px 0;
    margin:0;
    &:last-child{
      border:none;
    }
    div{
    font-family: Times, "Times New Roman", "Liberation Serif", FreeSerif, serif;
    font-size: 0.9em;
    line-height: 1.3em;
    color:#202020;
    }
  }
  span{
    text-transform:capitalize;
    &:before{
      content:"-";
    }
  }
  h3{
    color:#851514;
    text-transform:uppercase;
    display:inline-block;
    margin:0;
  }
  a{
    color:#fff;
    position:absolute;
    top:10px;
    right:0;
    text-transform:uppercase;
    padding:0 15px 0 40px;
    span{
      position:absolute;
      left:5px;
      top:6px;
      width:28px;
      height:26px;
      background: image-url('resources/chain-icon.png') no-repeat;
      &:before{
        content:"";
      }
    }
  }
}
  
#guidesTabContent{
  h3{
    background: image-url('resources/guide-separation.png') left bottom no-repeat;
    min-width:720px;
    padding-bottom:5px;
    margin-bottom:15px;
  }
}
