/* =============================================================================
   IMPORT GLOBAL VAR
   ========================================================================== */
@import "variables";

/* =============================================================================
   THE CONTENT: RESOURCES
   ========================================================================== */
#discover{
  background: image-url('resources/resources-separation.png') bottom center no-repeat;
  padding-bottom:30px;
  margin-bottom:20px;
  aside{
    width:248px;
    display:inline-block;
    text-transform:uppercase;
    text-align:center;
    text-shadow: 1px 1px 1px $black;
    filter: dropshadow(color=$black, offx=1, offy=1); 
    &:before{
      content:"";
      display:block;
      background: image-url('resources/ressources.png') top center no-repeat;
      width:248px;
      height:91px;
    }
    h2{
      color:$red;
      &:before{
        content:"Decouvrir";
        display:block;
        color:$brown;
      }
      &:after{
        content:"Decouvrir";
        display:block;
        color:$blue;
      }
    }
  }
}

#download
{
  @extend #discover;
  aside{
    &:before{
      background-position:center -91px;
      height:113px;
    }
    h2{
      &:before{
        content: "Telecharger";
      }
      &:after{
        content: "Telecharger";
      }
    }
  }
}

#learn
{
  @extend #discover;
  aside{
    &:before{
      background-position:center -204px;
      height:123px;
    }
    h2{
      &:before{
        content: "Apprendre";
      }
      &:after{text-shadow: 1px 1px 1px $black;
        filter: dropshadow(color=$black, offx=1, offy=1); 
        content: "Apprendre";
      }
    }
  }
}

#community
{
  @extend #discover;
  background:none;
  padding:0;
  margin:0;
  aside{
    &:before{
      background-position:center -327px;
      height:96px;
    }
    h2{
      &:before{
        content: "Communaute";
      }
      &:after{
        content: "Communaute";
      }
    }
  }
}

.resourcesList{
  display:inline-block;
  vertical-align:top;
  width:700px;
  padding:0 0 10px 0;
  margin:0;
  list-style-type:none;
  border-left:2px dashed #78665d;
  min-height:250px;
  article{
    position:relative;
    overflow:hidden;
    width:680px;
    padding-left:20px;
    :after{
      content:"";
      clear:both;
    }
  }
  h1{
    font-size:1.7em;
  }
  h1,h2,h3,h4,h5,h6{
    color:$red;
  }
  a{
    color:$red;
    &:hover{
      color:#78665d;
      text-decoration:underline;
    }
  }
}