#users {
  hgroup {
    background: image-url('users/users.png') center bottom no-repeat;
  }
}
    
.theUser{
  display:inline-block;
  width:280px;
  height:78px;
  margin:0 10px 20px 10px;
  padding:7px 0 0 8px;
  background: #901918;
  background: -moz-linear-gradient(top, #901918 0%, #480a0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#901918), color-stop(100%,#480a0a));
  background: -webkit-linear-gradient(top, #901918 0%,#480a0a 100%);
  background: -o-linear-gradient(top, #901918 0%,#480a0a 100%);
  background: -ms-linear-gradient(top, #901918 0%,#480a0a 100%); 
  background: linear-gradient(top, #901918 0%,#480a0a 100%);
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color:#ddc8a2;
  &:hover{
    background: #67b5bd;
    background: -moz-linear-gradient(top, #67b5bd 0%, #10575f 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67b5bd), color-stop(100%,#10575f));
    background: -webkit-linear-gradient(top, #67b5bd 0%,#10575f 100%);
    background: -o-linear-gradient(top, #67b5bd 0%,#10575f 100%);
    background: -ms-linear-gradient(top, #67b5bd 0%,#10575f 100%);
    background: linear-gradient(top, #67b5bd 0%,#10575f 100%);
  }
  img{
    width:67px;
    height:67px;
    border:2px solid #400404;
  }
  div{
   float:right;
   width:189px;
   padding:0 10px;
   margin-top:-2px;
   &:first-child{
    padding-bottom:3px;
    border-bottom:1px dashed #000;
   }
  }
}

/*--- USER INFORMARTIONS ---*/
#theUserName{
  border-bottom:1px solid #410404;
  color:#400404;
  font-family: SteelfishRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:3em;
  line-height:42px;
  padding-bottom:5px;
  img{
    border: 2px solid #8B0B0B;
    vertical-align: bottom;
  }
}

#theUserAddressAndSocial{
  margin:20px 0;
  width:920px;
  padding:10px 20px;
  background: #fff;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow: inset 1px 1px 3px 0 #7b7b7b;
  -moz-box-shadow: inset 1px 1px 3px 0 #7b7b7b;
  box-shadow: inset 1px 1px 3px 0 #7b7b7b;
  color:#410404;
  p{
    display:inline-block;
    width:450px;
    margin:0;
    line-height:2em;
    vertical-align:top;
  }
  span, a{
    color:#8f1414;
  }
}

#questionTabLink {
  background: #66b5be; /* Old browsers */
  background: -moz-linear-gradient(top, #66b5be 0%, #376368 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66b5be), color-stop(100%,#376368));
  background: -webkit-linear-gradient(top, #66b5be 0%,#376368 100%);
  background: -o-linear-gradient(top, #66b5be 0%,#376368 100%);
  background: -ms-linear-gradient(top, #66b5be 0%,#376368 100%);
  background: linear-gradient(top, #66b5be 0%,#376368 100%);
  a{
    background: image-url('users/question-tab.png') 30px center no-repeat;
  }
}

#eventTabLink a{
    background: image-url('users/event-tab.png') 30px center no-repeat;
}

#questionTabAsk, #questionTabAnswer,#eventTabParticipations, #eventTabcreation {
  word-spacing:normal;
  vertical-align:top;
  background:#fff;
  display:inline-block;
  width:420px;
  padding:10px 20px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow: inset 1px 1px 3px 0 #7b7b7b;
  -moz-box-shadow: inset 1px 1px 3px 0 #7b7b7b;
  box-shadow: inset 1px 1px 3px 0 #7b7b7b;
  color:#410404;
  h2{
    position:relative;
    font-size:1.9em;
    background: image-url('users/title-separation.png') center bottom no-repeat;
    padding-bottom:25px;
    margin-bottom:10px;
    text-align:center;
    span{
      color:#a11213;
    }
  }
  div
  {
    border-bottom:1px solid #410404;
    padding:10px 0;
    overflow:hidden;
    &:last-child{
      border:none;
    }
  }
  p{
    font-family: OswaldRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align:right;
    color:#66b5be;
    margin:0;
    font-size:1rem;
    span{
      background: image-url('users/hourglass.png') left center no-repeat;
      width:17px;
      height:22px;
      padding-right:15px;
    }
  }
  a{
    color:#8F1414;
    font-family: SteelfishRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size:1.3em;
  }
}

#questionTabAnswer, #eventTabcreation{
  margin-left:30px;
}
