/*** BUTTON ***/
.button{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51515', endColorstr='#821314',GradientType=0 );
}

.buttonSmall{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51515', endColorstr='#821314',GradientType=0 );
}

.buttonCurved{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51515', endColorstr='#821314',GradientType=0 );
}

.buttonBlue{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b5be', endColorstr='#45777c',GradientType=0 );
}

.bx-next, .bx-prev{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51515', endColorstr='#821314',GradientType=0 ); 
}

.button, .button_small, .bx-next, .bx-prev {
  behavior: url("PIE.htc");
}

/*** SECONDARY NAV ***/
.secondaryNav{
  div{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#901414', endColorstr='#811316',GradientType=0 );
  }
}

/*** COMMENT ***/
.noComment, .noAnwser, .noAttendee{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#821415', endColorstr='#901416',GradientType=0 );
}

/*** FORM ***/
.field_with_errors{
  .error{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#901414', endColorstr='#811316',GradientType=0 );
  }
}

/*** FLASH ***/
.flashNotice{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a7612', endColorstr='#4ea516',GradientType=0 );
}

.flashError{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#821415', endColorstr='#901416',GradientType=0 );
}

.flashAlert{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355c61', endColorstr='#64b1bb',GradientType=0 );
}

/*** EVENT ***/
.subscribe{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b534', endColorstr='#1f511e',GradientType=0 );
}

/*** QUESTION ***/
.red{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d1515', endColorstr='#450707',GradientType=0 ); 
}

.blue{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65b2bb', endColorstr='#0d555e',GradientType=0 );
}

.brown{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#755e4e', endColorstr='#3a3027',GradientType=0 ); 
}

/*** USER ***/
.theUser{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#901918', endColorstr='#480a0a',GradientType=0 );
  &:hover{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b5bd', endColorstr='#10575f',GradientType=0 ); 
  }
}

#questionTabLink{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b5be', endColorstr='#376368',GradientType=0 );
}

/*** JQUERY ***/
.ui-widget-header{
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51515', endColorstr='#821314',GradientType=0 ); 
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51515', endColorstr='#821314',GradientType=0 ); 
}

.ui-tabs .ui-tabs-nav li {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f1414', endColorstr='#410404',GradientType=0 );
}

#ui_tpicker_hour_event_date, #ui_tpicker_minute_event_date{
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51515', endColorstr='#821314',GradientType=0 );
}
