/* =============================================================================
   VARIABLES
   ========================================================================== */
$font-steel:SteelfishRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
$font-oswald: OswaldRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
$font-din: DINSchriftRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;
$font-times: Times,"Times New Roman","Liberation Serif",FreeSerif,serif;
$font-sedona: SedonaScriptFLFRegular,Verdana, Geneva, Arial, Helvetica, sans-serif;

$link: #ddc8a2;
$blue: #66b5be;
$red: #99100e;
$darkRed:#920a0a;
$darkestRed:#400404;
$brown: #291006;
$white:#fff;
$black:#000;
