%p
  Bienvenue #{@resource.email}!
%p Vous pouvez confirmer votre compte en cliquant sur le lien suivant :
%p
  = link_to 'Confirmer mon compte', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), :style => "color: #99090a;"
