%p
  Bonjour #{@resource.email}!
%p Une demande de changement de mot de passe a été faite pour votre compte.
%p
  = link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @resource.reset_password_token), style: "color: #99090a;"
%p Si vous n'avez pas demandé de changement de mot de passe veuillez ignorer ce mail.
%p Votre mot de passe ne sera pas changé tant que vous n'aurez pas cliqué sur ce lien.
