%section.worldMap
  %header#sectionHeader
    %hgroup.mapHeader
      %h1
        %span 
          La
        MAP
  %nav#secondaryNav
    %div#secondaryNavContainer
      %form#map_filters
        %ul
          - [[:jobs,"jobs"],[:users,"utilisateurs"],[:events,"événements"]].each do |filter|
            %li
              %label
                = filter.second
              %input{type: 'checkbox', name: filter.first, id: "filter_#{filter.first}", checked: true}
  .theContent
    #theMap
      #map_canvas
