- content_for :banner do
  %section#contact.fullwidth
    %hgroup.fullwidth
      %h1
        %span#arabesqueLeft &nbsp;
        %span NOUS
        CONTACTER
        %span#arabesqueRight &nbsp;
= render :file => 'layouts/application'