- content_for :banner do
  %section#contact.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span NOUS
        CONTACTER
        %span#arabesqueRight &nbsp;
= render file: 'layouts/application'