- content_for :banner do
  %section#event.fullwidth
    %hgroup.fullwidth
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        ÉVÉNEMENTS
        %span#arabesqueRight &nbsp;
= render :file => "layouts/application"