- content_for :banner do
  %section#event.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        ÉVÉNEMENTS
        %span#arabesqueRight &nbsp;
= render file: "layouts/application"