- content_for :banner do
  %section#job.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        JOBS
        %span#arabesqueRight &nbsp;
= render file: 'layouts/application'