- content_for :banner do
  %section#map.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span RAILS
        EN FRANCE
        %span#arabesqueRight &nbsp;
= render file: 'layouts/application'