- content_for :banner do
  %section#news.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        NEWS
        %span#arabesqueRight &nbsp;
= render file: 'layouts/application'