- content_for :banner do
  %section#station.fullwidth
    %hgroup.fullwidth
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        QUESTIONS
        %span#arabesqueRight &nbsp;
= render :file => 'layouts/application'
