- content_for :banner do
  %section#station.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        QUESTIONS
        %span#arabesqueRight &nbsp;
= render :file => 'layouts/application'
