- content_for :banner do
  %section#resources.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        RESSOURCES
        %span#arabesqueRight &nbsp;
= render file: 'layouts/application'