- content_for :banner do
  %section#users.sectionTitle
    %hgroup
      %h1
        %span#arabesqueLeft &nbsp;
        %span LES
        COW BOYS
        %span#arabesqueRight &nbsp;
= render :file => 'layouts/application'